#tickers-grid {
    display: flex;
    flex-wrap: wrap;
}

body {
    background: linear-gradient(270deg, #ffffff, #616161);
    height: 100vh; /* Makes the background fill the entire viewport */
    margin: 10vh;
    color: white;
}


.stock-box {
    width: 200px;
    height: 200px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    transition: background-colour 0.5s;
    background: #eee;
}

.red{
    color: #FF0000;
}

.dark-red {
    color: #880000;
}

.dark-green {
    color: #035803;
}

.green {
    color: #06b606;
}

.updated{
    transition: background-color 1s;
    background-color: #FFCCCC;
}

.red-flash{
    transition: background-color 1s;
    background-color: #FFCCCC;
}

.green-flash{
    transition: background-color 1s;
    background-color: #CCFFCC;
}

.gray-flash{
    transition: background-color 1s;
    background-color: #ccc;
}

.stock-box {
    width: 250px;
    height: 400px;
    border: 1px solid #333;
    margin: 10px;
    padding: 10px;
    color: black;
}


